/* Styling the scroll wheel */
.chat-history-list::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.chat-history-list::-webkit-scrollbar-track {
  background-color: #383838;
  border-radius: 10px;
}

.chat-history-list::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

.chat-history-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border-radius: 10px;
}

/* Set a fixed height for the chat history container, subtracting the height of the header */
/* Enable vertical scrollbar when content exceeds container height */
.chat-history-container {
  height: calc(100vh - 60px);
}

/* Make the chat history list fill the available height */
.chat-history-list {
  height: 87%;
  overflow-y: auto;
}

#app-root {
  background-color: #383838;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app-root {
  height: 100%;
  color: black;
  padding: 0;
}


.list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#chathistory-root {
  background-color: transparent;
  transition: #000000 0.2s ease;
  color: white;
  font-size: 23px;
  border-radius: 10px;
}

#chathistory-root:hover {
  background-color: rgb(72, 72, 72);
}

#selected-root {
  background-color: #7d7d7d;
  color: white;
  font-size: 23px;
  border-radius: 10px;
}

#chatbox {
  background-color: #6c727b;
}

.newchatbutton {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-color: white;
  transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
}

.newchatbutton:hover {
  background-color: rgb(72, 72, 72);
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10%;
  margin: 0;
  padding: 0;
  background-color: #625d5d;
  border-top: 1px solid #797474;
}

.chat-input input {
  border-radius: 0;
  height: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 60px;
}

.chat-input input:focus {
  box-shadow: none;
}

.chat-input button {
  height: 50px;
  width: 60px;
  font-size: 16px;
}

.chatbox-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #dee2e6;
  border-color: transparent;
  background-color: transparent;
  margin-left: 0;
  border-radius:10px
}

#chatbox-style {
  background-color: #2a2a2a;
  border-color: transparent;
  color: #aca6a6;
  border-radius: 10px 0px 0px 10px;
}

.chat-input {
  width: 80%;
  margin-left: 8%;
  margin-right: 10%;
  background-color: transparent;
}

.sendchatbutton {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #414441;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0px 10px 10px 0px;
  transition: color 0.15s ease-in-out,
              background-color 0.15s ease-in-out,
              border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
}

.sendchatbutton:hover{
  background-color: rgb(145, 121, 121);
}

#list-group-item-received {
  background-color: #131614;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0%;
  margin-top: 12px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  text-align: justify;
}

#list-group-item-sent {
  background-color: #5b6065;
  color: #ffffff;
  border-radius: 0%;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: right;
  border-radius: 10px;
}

.chatlog-container {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.toggle-style {
  height: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}


